# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/t:Publish /p:DeployOnBuild=True /p:AutomatedBuid=True /p:configuration=release /p:TargetProfile=Cloud /p:PublishDir="$(build.artifactStagingDirectory)\\"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
- task: AzureFileCopy@4
  inputs:
    SourcePath: '$(build.artifactstagingdirectory)'
    azureSubscription: 'Visual Studio Professional(5916753c-42a6-4095-bfcc-e7bae958dd59)'
    Destination: 'AzureBlob'
    storage: 'pavlom'
    ContainerName: 'azureportaldeploy'
    AdditionalArgumentsForBlobCopy: '?sv=2019-12-12&ss=b&srt=sco&sp=rwdlacx&se=2021-01-28T20:46:37Z&st=2020-12-16T12:46:37Z&spr=https&sig=RI5T%2FTYLfpwuBO%2FqEK7l9A4rNY1DIHSD68p%2B4FC5kHI%3D'
- task: AzureCloudPowerShellDeployment@1
  inputs:
    azureClassicSubscription: 'CloudServiceClassic'
    EnableAdvancedStorageOptions: false
    StorageAccount: 'pavlomclassicstoragename'
    ServiceName: 'StudentRG'
    ServiceLocation: 'West Europe'
    CsPkg: '$(build.artifactStagingDirectory)/**/*.cspkg'
    CsCfg: '$(build.artifactStagingDirectory)/**/*.cscfg'
    slotName: 'Production'
    AllowUpgrade: true